{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {% if 'article_new' == app.request.get('_route') %}New{% else %}Update{% endif %} article
{% endblock %}

{% block top %}
    <section id="home">
        <div id="main-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="{{ asset('bundles/app/images/slider/bg4.jpg') }}" alt="slider">
                </div>
            </div>
        </div>
    </section>
{% endblock top %}

{% block content %}
<section id="explore">
    <div class="row">
        <div class="center-block col-md-11" style="float: none;" >
    <h1>Concert edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input  type="submit" value="Edit" class="btn btn-primary pull-right"/>
    {{ form_end(edit_form) }}

    </ul>
        </div>
    </div>
</section>
{% endblock %}
